<a href="https://colab.research.google.com/github/shashank829/python_workshop/blob/main/pyWS2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
numbers={1,2,3,4}
print(numbers)

{1, 2, 3, 4}

#set

In [17]:
a=set(('ece','cse','ise','civ'))
print(a)
print(len(a))
a.add("mech")
print(a)
a.add("cse")
print(a)
print(len(a))
a.remove('cse')
print(a)
a.discard('ise')
print(a)
deleted=a.pop()
print(deleted)

{'ise', 'cse', 'ece', 'civ'}
4
{'cse', 'ise', 'mech', 'ece', 'civ'}
{'cse', 'ise', 'mech', 'ece', 'civ'}
5
{'ise', 'mech', 'ece', 'civ'}
{'mech', 'ece', 'civ'}
mech

In [21]:
a={"a","b","c"}
b={"1","2","3"}
set3=a.union(b)
print(len(set3))
a.update(b)
print(a)

6
{'a', 'b', 'c', '1', '3', '2'}

In [19]:
a=set(("apple","bannana","cherry"))
a.clear()
print(len(a))

0

In [28]:
a=["a","b","c","a"]
s=set(a)
print(s)

{'a', 'b', 'c'}

In [37]:
a={"apple","bannana","cherry"}
b={"kiwi","mango","grapes"}
a.add("orange")
print(a)
a.update(b)
print(a)
a.remove("bannana")
print(a)
a.discard("cherry")
print(a)

{'bannana', 'apple', 'orange', 'cherry'}
{'grapes', 'cherry', 'mango', 'bannana', 'apple', 'orange', 'kiwi'}
{'grapes', 'cherry', 'mango', 'apple', 'orange', 'kiwi'}
{'grapes', 'mango', 'apple', 'orange', 'kiwi'}

In [39]:
a=set(["1","2","1","2","3"])
print(len(a))

3

In [80]:
today={
    "day": "thursday",
    "date": "7/01/2021",
    "mounth": "january",
}
print(today)
print(len(today))
print(today["day"])
print(today["date"])
print(today["mounth"])
x=today.keys()
print(x)
print(today.values())
today["day"]=25
print(today["day"])
today["colour"]="red"
print(today)
today.pop("mounth")
print(today)

{'day': 'thursday', 'date': '7/01/2021', 'mounth': 'january'}
3
thursday
7/01/2021
january
dict_keys(['day', 'date', 'mounth'])
dict_values(['thursday', '7/01/2021', 'january'])
25
{'day': 25, 'date': '7/01/2021', 'mounth': 'january', 'colour': 'red'}
{'day': 25, 'date': '7/01/2021', 'colour': 'red'}

#if

In [84]:
a=33
b=200
if b>a:
   print("b is greater than a")

b is greater than a

#elif

In [105]:
a,b,c=int(input("enter the no a")),int(input("enter the no b")),int(input("enter the no c"))
if a>b:
  if a>c:
    print("a is greater")
elif b>c:
     print("b is greater")
else :
     print("c is greater")

enter the no a50
enter the no b100
enter the no c25
b is greater

In [92]:
a=33
b=33
if b>a:
   print("b is greater than a")
elif a==b:
     print("a is equal to b")
else:
    print("a is greater than b")

a is equal to b

In [118]:
n=int(input())
sum,i=0,0
while i<=n:
      sum=sum+i
      i+=1
print(sum)

5
15

In [122]:
n=int(input())
sum=0
while n>=0:
      sum=sum+n
      n-=1
print(sum)

5
15

In [126]:
a=("a","b","c","d","e")
for x in a:
  print(x)

a
b
c
d
e

In [134]:
for x in range (2,30,2):
  print(x)

2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [135]:
a=("a","b","c","d","e")
b={"kiwi","mango","grapes"}
for x in a:
  for y in b:
    print(x,y)

a grapes
a kiwi
a mango
b grapes
b kiwi
b mango
c grapes
c kiwi
c mango
d grapes
d kiwi
d mango
e grapes
e kiwi
e mango

In [146]:
a=int(input())
odd=[]
even=[]
for i in range(1,a):
  if (i%2==0):
     even.append(i)
  else:
      odd.append(i)
print(even)
print(odd)

10
[2, 4, 6, 8]
[1, 3, 5, 7, 9]

In [147]:
a=int(input())
odd=[]
even=[]
for i in range(1,a+1,2):
    odd.append(i)
    even.append(i+1)
print(even)
print(odd)

10
[2, 4, 6, 8, 10]
[1, 3, 5, 7, 9]

In [151]:
l=[]
for i in range(1,21):
  l.append(i)
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [157]:
lst=[i*i for i in range(1,21)]
print(lst)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

In [160]:
for x in range(0,10,2):
  print(x)

0
2
4
6
8

In [163]:
evenlist=[i for i in range(1,21) if (i%2)==0]
print(evenlist)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [165]:
oddlist=[i*i for i in range(1,21) if (i%2)==1]
print(oddlist)

[1, 9, 25, 49, 81, 121, 169, 225, 289, 361]

In [171]:
if -1:
  print("shashank")
else:
    print("shetty")

shashank

In [172]:
a=[1,2,3,4,5]
print(all(a))
b=[0,3,4,2]
print(all(b))

True
False

In [191]:
primelist=[i for i in range(2,21) if all(i%j!=0 for j in range(2,i))]
print(primelist)

[2, 3, 5, 7, 11, 13, 17, 19]

In [192]:
print(all(i%j!=0 for j in range(2,7)))

False

In [196]:
lst=[i*i for i in range(1,26) if (i*i<=25)]
print(lst)

[1, 4, 9, 16, 25]

In [207]:
def my_function(a,b,c=3):
 print(a,b,c)
my_function("jack","jill")

jack jill 3

In [208]:
lst=["pawan","shashank","sushanth"]
print(lst)

['pawan', 'shashank', 'sushanth']

In [213]:
x,y=int(input("enter chem marks")),int(input("enter phy marks"))
print("shashank",str(x+y))

enter chem marks5
enter phy marks8
shashank 13

In [220]:
def marks(name0):
  phy=int(input("enter" + name + "phy marks"))
  chem=int(input("enter" + name +"chem marks"))
  return phy + chem
  st["jack","jill","abhi","shashank"]
  for i in st:
     print(marks(i))